<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    {include file='public/head'}
	<link rel="stylesheet" href="/static/js/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <title>云采网 - 采购下单</title>
</head>
<body>
{include file="public/top-copy"}
<!-- content -->
<div class="content project-content">
    <div class="w1200 cc inner">
        <ul class="process-line progress-five w1100 cc tac ib-li">
            <li class="active">
                <div class="bg">
                    <span>1</span>
                </div>
                <p>选择项目</p>
            </li>
            <li class="active">
                <div class="bg">
                    <span>2</span>
                </div>
                <p>填写订单</p>
            </li>
            <li>
                <div class="bg">
                    <span>3</span>
                </div>
                <p>等待发货</p>
            </li>
            <li>
                <div class="bg">
                    <span>4</span>
                </div>
                <p>确认收货</p>
            </li>
            <li>
                <div class="bg">
                    <span>5</span>
                </div>
                <p>账单还款</p>
            </li>
        </ul>
        <!--form-->
        <div class="order-form cc form">
            <form class="cc ajaxForm" action="{:url('order/beforesave')}" method="post" data-success="提交成功">
                <input type="hidden" name="uid" value="{$uid}"/>
                <div class="category">
                    <div class="category-title">收货信息</div>
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 所属项目</span>
                        <input  type="text" readonly="readonly" class="normal-big" name="projname" value="{$data.Vc_ct_name==null?$data.projname:$data.Vc_ct_name}" tabindex="1">
                        <input  type="hidden" name="I_projectID" value="{$data.aid}">
                    </div>
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 收货地址</span>
                        {if condition="empty($data)"}
                            <div class="item-wrap">
                                <input type="hidden" name="province" value="">
                                <select name="I_provinceID" id="province" class="address change_add_name" tabindex="2"><option>请选择</option></select>
                            </div>
                            <div class="item-wrap">
                                <input type="hidden" name="city" value="">
                                <select name="I_cityID" id="city" class="address change_add_name" tabindex="3"><option value="">请选择</option></select>
                            </div>
                            <div class="item-wrap">
                                <input type="hidden" name="district" value="">
                                <select name="I_districtID" id="district" class="address change_add_name" tabindex="4"><option value="">请选择</option></select>
                            </div>
            			{else}
                            <div class="item-wrap">
                                <input type="hidden" name="province" value="{$form|output='province'}">
                                <select name="I_provinceID" class="address change_add_name" data-id="{$form|output='I_provinceID'}" id="province" tabindex="2">
                    			    <option value="{$form|output='I_provinceID'}">{$form|output='province'}</option>
                    			</select>
                            </div>
                            <div class="item-wrap">
                                 <input type="hidden" name="city" value="{$form|output='city'}">
                                <select name="I_cityID" class="address change_add_name" data-id="{$form|output='I_cityID'}" id="city" tabindex="3">
                    			    <option value="{$form|output='I_cityID'}">{$form|output='city'}</option>
                    			</select>
                            </div>
                            <div class="item-wrap">
                                <input type="hidden" name="district" value="{$form|output='district'}">
                                <select name="I_districtID" class="address change_add_name" data-id="{$form|output='I_districtID'}" id="district" tabindex="4">
                    			    <option value="{$form|output='I_districtID'}">{$form|output='district'}</option>
                    			</select>
                            </div>
            			{/if}
                        <div class="item-wrap">
                            <input type="text" name="Vc_address" value="{:ouputByOrder($form,$data,'Vc_address')}" class="address-detail" maxlength="20" placeholder="详细地址" tabindex="5"/>
                        </div>
                        <span></span>
                    </div>
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 收货人</span>
                        <input type="text" name="Vc_contact" value="{$form|output='Vc_contact'}" class="normal-small name" maxlength="15" placeholder="请输入收货人姓名" tabindex="6"/>
                        <input type="text" name="Vc_phone" value="{$form|output='Vc_phone'}" class="normal-middle" maxlength="11" placeholder="请输入收货人联系号码" tel tabindex="7"/>
                        <span></span>
                    </div>
                </div>
                <div class="category pt9">
                    <div class="category-title">采购清单</div>
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 行业</span>
                        <select name="I_industryID" class="normal-middle" tabindex="8">
                            {volist name="$industryModel->getArr" id="vo"}
                                <option value="{$key}">{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                    {if condition="is_array($goods)&&count($goods)>0"}
                        {volist name="$goods" id="vo"  key="k" }
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 货物</span>
                        <input type="hidden" class="goodsSel" name="Vc_goods_code[]" value="{$vo.Vc_goods_code}">
                        <input type="text" readonly name="Vc_goods_name[]" value="{$vo.Vc_goods_name}" class="normal-big citySel"  tabindex="9"/>
                        <div class="item-wrap-select">
                            <input type="text" name="N_plan_weight[]" placeholder="输入数量" class="goodsNum" value="{$vo.N_plan_weight}"{$vo.Vc_goods_uint=='吨'?' float':' number'} tabindex="10"/>
                            <select name="Vc_unit[]" tabindex="11">
                				<option value="吨" {$vo.Vc_goods_uint=='吨'?'selected':''}>吨</option>
                				<option value="件" {$vo.Vc_goods_uint=='件'?'selected':''}>件</option>
                			</select>
                        </div>
                        <a href="javascript:;" class="menu add"></a>
                        <a href="javascript:;" class="menu delete"></a>
                    </div>
                      {/volist}
                    {else}
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 货物</span>
                        <input type="hidden" class="goodsSel" name="Vc_goods_code[]" value="">
                        <input type="text" readonly name="Vc_goods_name[]" value="" class="normal-big citySel" tabindex="9"/>
                        <div class="item-wrap-select">
                            <input type="text" name="N_plan_weight[]" placeholder="输入数量" class="goodsNum" value="1" float tabindex="10"/>
                            <select name="Vc_unit[]" tabindex="11">
                				<option value="吨">吨</option>
                				<option value="件">件</option>
                			</select>
                        </div>
                        <a href="javascript:;" class="menu add"></a>
                        <a href="javascript:;" class="menu delete"></a>
                    </div>
                    {/if}
                </div>
                <div class="category pt9">
                    <div class="category-title">运输要求</div>
                    <div class="form-items">
                        <span class="form-items-title"><em class="warring">*</em> 期望到货时间</span>
                        <input type="text" name="D_transport_end" datepicker data-time class="normal-middle" value="{$form|output='D_transport_end'}" tabindex="12"/>
                        <span></span>
                    </div>
                    <div class="form-items">
                        <span class="form-items-title">备注</span>
                        <textarea maxlength="120" name="T_note" class="normal-textarea" tabindex="13">{$form|output='T_note'}</textarea>
                        <span></span>
                    </div>
                </div>
                <div class="category pt9">
                    <div class="category-title"></div>
                    <input type="hidden" name="N_judge_totalprice" id="totalPrice" value=""/>
                    <input type="hidden" name="GoodsJudgePrice" value="{$GoodsJudgePrice}" id="price"/>
                    <input type="hidden" name="T_judge_info"/>
                    <div class="total">
                        <p class="total-info">预估总价：<em><span id="totalPriceView">0</span>元</em></p>
                        <p class="total-text">含：<span id="goods-list"></span></p>
                        <p class="total-text">本价格仅供下单参考，实际费用以最终协商为准</p>
                    </div>
                </div>
            </form>
        </div>
        <!--/form-->
    </div>
    <div id="menuContent" class="menuContent">
        <ul id="ztree" class="ztree"></ul>
    </div>
    <div class="form-submit tac">
        <a href="javascript:;" class="form-submit-menu" id="submit">提交订单</a>
    </div>
</div>
<!-- content -->
{include file="public/foot-bg"}
<script type="text/javascript" src="/static/js/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/static/js/ztree/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript">

    // 货物获取
    goodsInit('{:url('/index/getGoodsTree')}');

    $(document).on("click","a.add", function(){
        
        if ($('.form-items').filter(function(){
            return $(this).find(".add").length
        }).length < 10 ) {
            // 不能超过10个
            var $this = $(this),
                $parent = $this.closest('.form-items'),
                html = [
                    '<div class="form-items">',
                        '<span class="form-items-title"><em class="warring">*</em> 货物</span>',
                        '<input type="hidden" class="goodsSel" name="Vc_goods_code[]" value="">',
                        '<input type="text" readonly="" name="Vc_goods_name[]" value="" class="normal-big citySel">',
                        '<div class="item-wrap-select">',
                            '<input type="text" name="N_plan_weight[]" placeholder="输入数量" class="goodsNum" value="1" float>',
                            '<select name="Vc_unit[]">',
                				'<option value="吨" selected>吨</option>',
                				'<option value="件">件</option>',
                			'</select>',
                        '</div>',
                        '<a href="javascript:;" class="menu add"></a>',
                        '<a href="javascript:;" class="menu delete"></a>',
                    '</div>'
                ].join("");
        
                $parent.after(html);
                total();
        } else {
            layer.msg("最多可添加10个货物",{time:1500});
        }
        
    });

    //
    $(document).on("click","a.delete", function(){

        if ($(".form-items").filter(function(){
            return $(this).find("a.delete").length
        }).length > 1 ) {
            $(this).closest('.form-items').fadeOut("fast", function(){
                $(this).remove();
                total();
            });
        } else {
            layer.msg("最少一件货物",{time:1500});
        }
    });

    $(".ajaxForm").ajaxForm({
        button:"#submit",
        noTips:true,
        success: function(data){
            location.href=data.url;
        }
    });
    
    
    ;(function($){
        var $totalView = $("#totalPriceView"),
            price = $("#price").val(),
            $totalPrice = $("#totalPrice");
                    
        window.total = function(){
            var goodsNum = 0,
                goodsList = "",
                $goodList = $("#goods-list"),
                $goodsNum = $("input.goodsNum"),
                $goodsSel = $("input.goodsSel"),
                len = $goodsNum.length;

            if($goodsNum.length){
                $goodsNum.each(function(index, el) {
                    if(!!$(this).val() && !!$goodsSel.eq(index).val()) {
                        (function(index,$this){
                            var num = Number($this.val());
                            goodsNum = accAdd(num, goodsNum);
                            goodsList += (index>0 && index < len ?"&nbsp;&nbsp;+&nbsp;&nbsp;":"")+"货物（"+($this.closest(".form-items").find(".citySel").val())+"）"+accMul(num, price)+"元";
                        })(index,$(this));
                    }
                });
                $totalPrice.attr("value",accMul(goodsNum, price).toFixed(2));
                $goodList.html(goodsList);
                $totalView.text(accMul(goodsNum, price).toFixed(2));
                
            }
        }

        total();
        $(document).on("change keyup","input.goodsNum" , function(){
            total();
        });
    })(jQuery);
</script>
</body>
</html>
