<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>云采网 - 工作台首页</title>
			{include file='public/head' /}
	</head>
	<body>
		<!-- top -->
		{include file='public/top' /}
		<!-- top -->
		<!-- content -->
		<div class="content w1200 cc cb mt24">
			{include file='public/sideNav' /}
			<div class="fr w1000 controller">
				<div class="ctl-header cb">
					<div class="fl ctl-info">
						<div class="ctl-img fl">
							<img src="{if condition="!empty($user.Vc_logo)"}{$Think.config.img_url}{$user.Vc_logo}{else}/static/home/img/company.jpg{/if}" width="100" height="100">
						</div>
						<div class="fl ctl-text">
							<!-- 是否认证通过 -->
							<!-- {if condition="$iscertified"} has{/if} -->
							<div class="cb ctl-name ctl-num"><i class="i-mb has" title="绑定手机" style="margin-left:0"></i>{$_SESSION['user']['Vc_mobile']|sphone}&nbsp;&nbsp;{$user.uname}</div>
							<br>
							<p class="ctl-cname"><i style="margin-left:0;margin-right:8px;" class="i-safe{if condition="$iscertified"} has{/if}" title="
								{if condition="!empty($userCertifyStatusInfo)"}
									{if condition="$userCertifyStatusInfo==1"}
										认证中
									{elseif condition="$userCertifyStatusInfo==2"}
										认证不通过
									{elseif condition="$userCertifyStatusInfo==4"}
										未认证
									{else}
										已认证
									{/if}
								{else}
									未认证
								{/if}
								"></i>公司名称：{$user.Vc_erp_name==null?$user.Vc_name:$user.Vc_erp_name}</p>
							<!-- <div class="ctl-credit">信用评分<a href="javascript:;" class="i-help"></a></div> -->
							<!-- <div class="ctl-star">
								<i class="i-star has"></i><i class="i-star"></i><i class="i-star"></i><i class="i-star"></i><i class="i-star"></i>
							</div> -->
						</div>
					</div>
					<div class="ctl-line fl"></div>
					<div class="ctl-total fl">
						<div class="t-title">执行概况</div>
						<div class="t-info"><span><a href="{:url('/order/listpage',['type'=>3])}" class="isCertify">已到货</a><em>（{$waitCount} ）</em></span><i>|</i><span><a href="{:url('/bill/listpage',['type'=>3])}" class="isCertify">已逾期</a><em>（{$overdate}）</em></span></div>
						<div class="t-btn cb fl-a">
							{if condition="count($projlist)>0"}
								{if condition="$usableprojs==0"}
									<a class="mr none">采购下单</a>
								{else}
									<a href="/order/createAll" class="mr isCertify">采购下单</a>
								{/if}
							{else}
								<a href="javascript:showTipsError();" class="mr none" title="请先创建项目">采购下单</a>
							{/if}
							<a href="/project/create" class="isCertify">创建项目</a>
						</div>
					</div>
				</div>
				<div class="ctl-mtitle cb">
					进行中的项目<a href="{:url('/project/listpage')}" class="more fr isCertify">[查看所有]</a>
				</div>
				<!-- 进行中的项目 -->
				<div class="ctl-progress oh mt25">
		            <ul class="w120 fl-li cb">
		                {volist name='$projlist' id='vo'}
		                <li> 
							<div class="tolink" onclick="location.href='{:url('/project/detail',['projId'=>$vo.aid])}'">
			                    <span class="flag{$vo.I_status==4 || $vo.I_status==5 ||$vo.I_status==1?' end':''}">
									{if condition="$vo.I_status==0"}
										待审核
									{elseif condition="$vo.I_status==1"}
										审核未通过
									{elseif condition="$vo.I_status==2"}
										审核通过
									{elseif condition="$vo.I_status==4"}
										已关闭
									{elseif condition="$vo.I_status==5"}
										已完成
									{else}
										进行中
									{/if}
			                    </span>
			                    <div class="p-con">
			                        <p class="p-name">{$vo.Vc_ct_name==null?$vo.projname:$vo.Vc_ct_name}</p>
									<p class="sn">{$vo.Vc_Sn==''?'&nbsp;':$vo.Vc_Sn}</p>
			                        <p>可用额度：<span>￥<em>{$vo.N_usable_loan==null?'—':$vo.N_usable_loan.'万'}</em></span></p>
			                        <p>授信额度：<span>￥<em>{$vo.N_loan_maxprice==null?'—':$vo.N_loan_maxprice.'万'}</em></span></p>
			                    </div>
								<!-- 原因是：ERP没有这个字段,暂时隐藏结束时间 -->
			                    <!-- <div class="p-time">结束时间：{$vo.D_end}</div> -->
			                    <div class="p-progress">
									{if condition="$vo.N_loan_maxprice==null||$vo.N_loan_maxprice==0"}
										<div class="p-progress-inner"></div>
									{else}
										<div class="p-progress-inner" style="width:{$vo.N_usable_loan/$vo.N_loan_maxprice*100}%;"></div>
									{/if}
			                    </div>
							</div>
		                    <div class="p-link">
		                        <a href="{:url('/project/billdetail',['projId'=>$vo.aid])}">查看账单</a><em>|</em>
								{if condition="!$iscertified"}
									<a href="javascript:showTipsError({$vo.I_status});">项目下单</a>
								{else}
									{if condition="$vo.I_status==4"}
										<a href="javascript:showError();">项目下单</a>
									{elseif condition="$vo.I_status==5"}
										<a href="javascript:showEndError();">项目下单</a>
									{elseif condition="$vo.I_status==1 || $vo.I_status==0"}
										<a href="javascript:showNotError();">项目下单</a>
									{else}
										{if condition="$vo.N_usable_loan=='0'||$vo.N_usable_loan==null"}
											<a href="javascript:showZeroError();">项目下单</a>
										{else}
											<a href="{:url('/order/create',['id'=>$vo.aid])}">项目下单</a>
										{/if}
									{/if}
								{/if}
		                    </div>
		                </li>
		                {/volist}
						<li>
							<a href="/project/create" class="add isCertify"><i></i><span>点击创建新项目</span></a>
						</li>
		            </ul>
        		</div>
				<!-- 进行中的项目 -->
				
				<!-- 进行中的订单 -->
				<div class="cb mt25 mtitle-order">
					进行中的订单<a href="{:url('/order/listpage')}" class="more fr isCertify">[查看所有]</a>
				</div>
				{if condition="!$iscertified || count($orderlist) < 1"}
				<!-- 当，没有数据时显示我 -->
				<div class="ctl-empty">
					<p>没有订单，请先<a href="/project/create" class="isCertify">创建项目</a></p>
				</div>
				<!-- 当，没有数据时显示我 -->
				{else}
				<div class="ctl-theader">
					<span class="s1">货物详情</span>
					<span class="s2">单价（元）</span>
					<span class="s3">数量</span>
					<span class="s4">实际总价（元）</span>
					<span class="s5">订单状态</span>
					<span class="s6">交易操作</span>
				</div>
				  {volist name='$orderlist' id='vo'}
					<table class="ctl-table middle">
						<thead>
							<th width="30"></th>
							<th class="tal" width="276">{$vo.Createtime|getDateStrYmd}<em class="fr">订单号：{$vo.Vc_orderSn==null?$vo.Vc_Sn:$vo.Vc_orderSn}</em></th>
							<th width="218">所属项目：{$vo.projinfo.Vc_ct_name==null?$vo.projinfo.projname:$vo.projinfo.Vc_ct_name}</th>
							<th width="205"></th>
							<th width="115"></th>
							<th width="155">
							 {if condition="$vo.Vc_orderSn!=null"}
							  {if condition="$vo.I_status==6"}
							  订单已关闭
							  {elseif condition="$vo.I_status==5"}
							  订单已冻结
							  {/if}
					 		 {/if}
							</th>
						</thead>
						<tbody>
							{volist name='$vo.orderlist' id='vo2' key="k"}
								<tr{$k <= 5 ?"":" style='display:none;'"}>
									<td colspan="2" class="tal pl">
										<p class="name">{$vo2.Vc_goods_class}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo2.Vc_goods_breed}</p>
										<p class="spec">材质：{$vo2.Vc_goods_material}<span>规格：{$vo2.Vc_goods_spec}</span></p>
										<p class="spec" style="margin-top:5px">产地：{$vo2.Vc_goods_factory}</p>
									</td>
									<td class="tal">
										<div class="text">
											{if condition="$vo2.Vc_goods_uint=='吨'"}
		                                        <p class="name cb"><em class="fl">{$vo2.N_ac_price==null||$vo2.N_ac_price==0?$vo2.N_judge_price:$vo2.N_ac_price}</em><em class="fr">{$vo2.N_ac_weight}&nbsp;{$vo2.N_ac_weight==null?'':$vo2.Vc_goods_uint}</em></p>
		                                        <p class="spec">申请数量：{$vo2.N_plan_weight}&nbsp;{$vo2.Vc_goods_uint}</p>
		                                    {else}
		                                        <!-- {$unit=$vo2.N_ac_weight==null?$vo2.N_plan_weight:$vo2.N_ac_weight} -->
		                                        <p class="name cb"><em class="fl">{$vo2.N_ac_price==null||$vo2.N_ac_price==0?$vo2.N_judge_price:$vo2.N_ac_price}</em><em class="fr">{$vo2.N_ac_weight}&nbsp;{$vo2.N_ac_weight==null?'':$vo2.Vc_goods_uint}</em></p>
		                                        <p class="spec">申请数量：{$vo2.N_plan_weight|intval}&nbsp;{$vo2.Vc_goods_uint}</p>
		                                    {/if}
											
											<p class="spec" style="margin-top:5px;">预计总价：{$vo2.N_judge_totalprice}</p>
										</div>
									</td>
									{if condition="$vo2.I_goods_src==2 || $k == 1"}
										<td class="{$vo2.N_ac_settlement==null?'tac':'tal'}"{if condition="((($vo.I_status==0) || ($vo.I_status==1) || ($vo.I_status==6)||($vo.I_status==-1)) && ($k==1) && ($vo2.I_goods_src==1))"} rowspan="{$vo.orderlist|count}"{/if}>
											<div class="text {$vo2.N_ac_settlement==null?'tac':''}">
											 {if condition="$vo2.N_ac_settlement!=null && $vo2.N_ac_settlement!=0"}
                                        <p class="name">实际总价：{$vo2.N_ac_settlement}</p>
                                            <p class="spec">到货时间：{$vo2.Dt_arrived|strtotime|date="Y-m-d",###}</p>
                                        {else}<p class="tac">暂无</p>
                                        {/if}
											</div>
										</td>
										<td{if condition="((($vo.I_status==0) || ($vo.I_status==1) || ($vo.I_status==6)||($vo.I_status==-1)) && ($k==1) && ($vo2.I_goods_src==1))"} rowspan="{$vo.orderlist|count}"{/if}>
											{if condition="$vo.I_status==0&&$k>1"}
											{else/}
												<span class="status">{$vo2.Vc_orderstatus==null?$model->statusArray[$vo.I_status]:$vo2.Vc_orderstatus}</span>
												<a href="{:url('/order/orderInfo',['id'=>$vo.id])}" class="link"> 订单详情</a>
											{/if}
											{if condition="$vo2.Vc_orderstatus=='已发货'||$vo2.Vc_orderstatus=='已到货'||$vo2.Vc_orderstatus=='待发货'"}
												<a href="{:url('/order/expressInfo',['id'=>$vo2.id,'orderSn'=>$vo2.Vc_orderSn])}" class="link">查看物流</a>
											{/if}
										</td>
										<td{if condition="((($vo.I_status==0) || ($vo.I_status==1) || ($vo.I_status==6)||($vo.I_status==-1)) && ($k==1) && ($vo2.I_goods_src==1))"} rowspan="{$vo.orderlist|count}"{/if}>
											<div class="space"></div>
											{if condition="$vo.I_status==0&&$k==1"}
												<a href="{:url('/order/edit',['id'=>$vo.id])}" class="link link-hlight-ccc">修改订单</a>
												<a href="javascript:;" data-ajax="{:url('/order/cancel',['id'=>$vo.id])}" class="link link-hlight-ccc cancel-order-btn">取消订单</a>
											{elseif condition="$vo2.Vc_orderstatus=='已发货'||$vo2.Vc_orderstatus=='已到货'||$vo2.Vc_orderstatus=='待发货'"}
											 {if condition="$vo2.Vc_orderstatus=='已到货'"}
												{if condition="isset($vo2.I_isconfirm)&&$vo2.I_isconfirm==1"}<a class="btn none">已确认</a>
												{else}
													<a href="javascript:;" data-ajax="{:url('/order/confirm',['oid'=>$vo.id,'id'=>$vo2.id,'orderSn'=>$vo2.Vc_orderSn])}" data-success="确认成功" data-error="确认失败" class="btn ok">确认订单</a>
												{/if}
										     {/if}
											  <a href="javascript:;" data-ajax="{:url('/order/appeal',['Vc_orderSn'=>$vo2.Vc_orderSn,'Vc_goods_breed'=>$vo2.Vc_orderSn,'Vc_goods_material'=>$vo2.Vc_goods_material,'Vc_goods_spec'=>$vo2.Vc_goods_spec,'Vc_goods_factory'=>$vo2.Vc_goods_factory])}" class="link error appeal-btn">异常申诉</a><!-- ajaxPost方式提交T_appeal申诉内容 -->
											  <a href="javascript:void(0);" data-url="{:url('/order/create',['id'=>$vo.I_projectID])}" class="link link-hlight rebuy" data-ajax="{:url('/order/iscanbuy',['id'=>$vo.I_projectID])}">再次购买</a>
											{/if}
										</td>
									{/if}
								</tr>
							{/volist}
						</tbody>
					</table>
					{if condition="count($vo.orderlist)>5"}
		                <a href="javascript:;" class="table-more" data-total="{$vo.orderlist|count}" data-current="5">展开更多</a>
		            {/if}
				{/volist}
				<!-- 进行中的订单 -->
				{/if}
			 </div>
		</div>
		<!-- content -->
		<!-- mask -->
		<!-- {include file='public/mask' /} -->
		<!-- mask -->
		<!-- sideBar -->
		{include file="public/sideBar"}
		<!-- sideBar -->
		<!-- footer -->
		{include file='public/foot' /}
		<!-- footer -->
		<script type="text/javascript">
			function showEndError(){
				layer.msg("该项目已完成不能继续下单",{time:1500});
			}
			function showError(){
				layer.msg("该项目已关闭，不可下单",{time:1500});
			}
			function showNotError(){
				layer.msg("审核未通过，不可下单",{time:1500});
			}
			function showZeroError(){
				layer.msg("可用余额不足，不可下单",{time:1500});
			}
			function showTipsError(){
				layer.msg("请先创建项目，再进行下单",{time:1500});
			}
			$(".ctl-table .btn.ok").btnAjax({
				success:"确认成功",
				error:"确认失败"
			});
		</script>
	</body>
</html>
