<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{include file='public/head'}
		<title>云采网 - 找车确认页</title>
	</head>
	<body>
		{include file="public/top-copy"}
		<!-- content -->
		<div class="content project-content">
			<div class="w1200 cc inner">
				<ul class="process-line process-line-three w1100 cc tac ib-li">
					<!-- <li class="active">
						<div class="bg">
							<span>1</span>
						</div>
						<p>选择线路</p>
					</li> -->
					<li class="active">
						<div class="bg">
							<span>1</span>
						</div>
						<p>填写订单</p>
					</li>
					<li>
						<div class="bg">
							<span>2</span>
						</div>
						<p>平台联系物流</p>
					</li>
					<li>
						<div class="bg">
							<span>3</span>
						</div>
						<p>装车发货 </p>
					</li>
				</ul>
				<!--form-->
				<form class="order-form cc form ajaxForm" action="/find_cars/comfirmAdd" method="post">
					<div class="w1090 cc find-detail">
						<div class="category">
							<div class="category-title">订单信息确认</div>
						</div>
						<div class="detail-header">
							<p class="title">行业：钢铁</p>
						</div>
						<div class="detail-recived">
							<p><b>收货信息：</b></p>

							<p>{$order.Vc_senter}<span>{$order.Vc_sent_tel}</span><span>{$addr.proname1}{$addr.cityname1}{$addr.areaname1}{$order.Vc_sent_address}</span></p>
							<p><b>发货信息：</b></p>
							<p>{$order.Vc_receiver}<span>{$order.Vc_receiver_tel}</span><span>
								{$addr.proname2}{$addr.proname2==$addr.cityname2?'':$addr.cityname2}{$addr.areaname2}{$order.Vc_receive_address}</span></p>
							<p>{$order.I_offertype==1?'单价':'一口价'}&nbsp;
								{if condition="($order.I_offertype==1)"}{$order.N_expectprice}元/吨{else}{$order.N_expectprice}元{/if}
								&nbsp;&nbsp;&nbsp;&nbsp;{$order.I_plus_tax==1?'含税':'不含税'}
								&nbsp;&nbsp;&nbsp;&nbsp;{$order.I_plus_dumper==1?'自卸车：&nbsp;需要':'自卸车:&nbsp;不需要'}
								&nbsp;&nbsp;&nbsp;&nbsp;{$order.I_plus_deliveryfee==1?'垫出库费：&nbsp;要':'垫出库费:&nbsp;不要'}
								&nbsp;&nbsp;&nbsp;&nbsp;期望收货时间：{$order.D_arrived_start}
							</p>
						</div>
						<table class="detail-table">
							<thead>
								<th width="234">货物属性</th>
								<th width="160">数量</th>
								<th width="419">备注</th>
							</thead>
							<tbody>
								{volist name="$goods" id="vo"}
									<tr>
										<td class="name">
											<b>{$vo.Vc_goods_class}</b>材质：{$vo.Vc_goods_material},规格：{$vo.Vc_goods_spec}
										</td>
										<td>{$vo.N_plan_weight}{$vo.Vc_unit}</td>
										{if condition="($key==0)"}
										<td rowspan="{$count}">{$order.T_note}</td>
										{/if}
									</tr>
								{/volist}
							</tbody>
						</table>
					</div>
				</form>
				<!--/form-->
			</div>
			<div class="form-submit tac">
				<a href="/find_cars/toForm?type=2" class="form-submit-link">修改订单</a><a href="javascript:;" class="form-submit-menu" id="submit">确认</a>
			</div>
		</div>
		<!-- content -->
		<div class="masker hide masker-info" id="tipsMask">
	        <div class="mask"></div>
	        <div class="mask-wrap">
	            <div class="mask-title cb">
	                提示
	                <a href="/find_cars/listpage?type=0" class="fr close" title="关闭"><img src="/static/home/img/close.png"></a>
	            </div>
	            <div class="mask-content">
	                <p class="p1"><i></i>创建成功，请耐心等待审核</p>
	            </div>
				<div class="mask-footer">
					<a href="/find_cars/listpage?type=0" class="noClick">确认</a>
				</div>
	        </div>
		</div>
		{include file="public/foot"}
		<script type="text/javascript">
			$(".ajaxForm").ajaxForm({
				button:"#submit",
				noTips: true,
				success: function(){
					$("#tipsMask").fadeIn('400');
					//  location.href="/find_cars/listpage?type=0"
				}
			});
		</script>
	</body>
</html>
