<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        {include file='public/head'}
        <title>云采网 - 项目账单</title>
    </head>
<body>
<!-- header -->
{include file="public/top"}
<!-- header -->
<!-- content -->
<div class="crm nbg bd">
    <div class="w1200 cc">
        <em class="crm-inner"><!--占位用的勿删--></em><a href="/">首页</a><em>></em><a href="/workroom/index">我的工作台</a><em>></em><a href="/project/listPage">我的项目详情</a><em>></em><span>项目账单</span>
    </div>
</div>
<!-- content -->
<div class="content w1200 cc cb mt10">
    {include file="public/sideNav"}
    <div class="fr w1000 list-page">
        <div class="project-detail">
            <div class="project-detail-header">项目编号&nbsp;{$proj.Vc_Sn}</div>
            <div class="project-detail-wrap cb">
                <div class="project-detail-info fl">
                    <h3>{$proj.Vc_ct_name==null?$proj.Vc_name:$proj.Vc_ct_name}</h3>
                    <p>合同编号：{$proj.Vc_contractSn}
						{if condition="empty($proj.Vc_contractfile)"}
							<a href="javascript:;" class="menu none">[查看合同]</a>
						{else}
							<a href="{$Think.config.img_url}{$proj.Vc_contractfile}" target="_blank" class="menu">[查看合同]</a>
						{/if}
					</p>
                    <p>额度:{$proj.N_loan_maxprice}万&nbsp;&nbsp;&nbsp;&nbsp;垫资期限：{$proj.I_ct_loan_life}天</p>
                    <p>项目地址：
                    {if condition="empty($proj.Vc_address)"}
						{$proj.proname}{$proj.proname==$proj.cityname?'':$proj.cityname}{$proj.areaname}{$proj.projaddr}
						{else}
						{$proj.Vc_address}
						{/if}
                     
                    </p>
                </div>
                <div class="fr project-detail-progress">
                    <h3>执行概况</h3>
                    <p>未还款：{$proj.N_loan_maxprice-$proj.N_usable_loan}万<span>待确认：{$count.confirm}笔</span></p>
                    <p>已逾期：<b>{$count.overdate}万</b></p>
					<!-- {$proj|dump} -->
                    <div class="total cb">
                        <div class="progress-inner pr fl">
							{if condition="($proj.N_loan_maxprice!=null)&&($proj.N_loan_maxprice!=0)"}
								<p style="width:{$proj.N_usable_loan/$proj.N_loan_maxprice*100}%"></p>
							{else}
								<p></p>
							{/if}
                        </div>
                        <div class="total-text">余额{$proj.N_usable_loan==null ?'0元':$proj.N_usable_loan.'万'}，总额{$proj.N_loan_maxprice==null?'0元':$proj.N_loan_maxprice.'万'}</div>
                    </div>
					{if condition="$proj.I_status==4"}
						<a href="javascript:showError();" class="none">项目下单</a>
					{elseif condition="$proj.I_status==5"}
						<a href="javascript:showEndError();" class="none">项目下单</a>
					{elseif condition="$proj.I_status==1 || $proj.I_status==0"}
						<a href="javascript:showNotError();" class="none">项目下单</a>
					{else}
						{if condition="$proj.N_usable_loan=='0'||$proj.N_usable_loan==null"}
							<a href="javascript:showZeroError();" class="none">项目下单</a>
						{else}
							<a href="{:url('/order/create',['id'=>$proj.aid])}" class="btn">项目下单</a>
						{/if}
					{/if}
                </div>
            </div>
        </div>
		{if condition="$proj.N_loan_maxprice==null"}
			<!-- 当，没有数据时显示我 -->
			<div class="ctl-empty">
				<p><em class="error">平台正在处理合同相关事宜，请耐心等待</em></p>
			</div>
			<!-- 当，没有数据时显示我 -->
		{else}
        <div class="project-tab cb">
            <div class="fl fl-a btn-wrap">
                <a href="{:url('detail',['projId'=>$proj.aid])}" role="tab" class="btn" id="home-tab">项目订单（{$count.ordernum}）</a>
                <a class="btn active">我的账单（{$count.billnum}）</a>
            </div>
           <!--  <div class="fr project-tab-export">
                <select name="" id="" class="fl"><option>全部</option></select>
                <a href="/bill/exportexl" target="_blank">导出</a>
            </div> -->
        </div>
        <form class="list-search mt10">
            <div class="list-search-words cb">
                <div class="input-wrap fl pr">
					<input type="text" id="nameSearch" placeholder="订单号/品名/材质/规格/产地" name="keyword" value="{if condition="isset($param.keyword)"}{$param.keyword}{/if}"/>
                    <button type="submit" id="nameSearchButton"></button>
                </div>
                <a href="javascript:;" class="list-search-menu fl">{$isSearch==1?'收起筛选':'展开筛选'}</a>
            </div>
            <ul class="list-search-type cb fl-li {$isSearch==1?'':' hide'}" data-isDetail="true">
                <li>
                    账单状态
					<select x-listen class="form-control" name="orderStatus">
	                    <option value="">全部</option>
	                    {volist name="$model->statusArray" id="vo"}
	                   	 	<option value="{$key}" {if condition="isset($param.orderStatus)"}{$key==$param.orderStatus?"selected":""}{/if}>{$vo}</option>
	                    {/volist}
	                </select>
                </li>
                <li>
                    所属行业
					<select x-listen class="form-control" name="industryId">
	                    <option value="">全部</option>
	                    {volist name="$malls" id="vo"}
	                   	 <option value="{$vo.Vc_industry}" {if condition="isset($param.industryId)"}{$vo['Vc_industry']==$param.industryId?"selected":""}{/if}>{$vo.Vc_industry}</option>
	                    {/volist}
	                </select>
                </li>
                <li class="long">
                    所属项目
					<select x-listen name="projId">
	                    <!-- <option value="">所属项目</option> -->
	                    {volist name="$projs" id="vo"}
							<!-- 只显示当前项目的账单 -->
							{if condition="$vo.I_projectID==$param.projId"}
								<option value="{$vo.I_projectID}" {if condition="isset($param.projId)"}{$vo.I_projectID==$param.projId?"selected":""}{/if} >{$vo.ct_projname==null?$vo.projname:$vo.ct_projname}</option>
							{/if}
	                    {/volist}
	                </select>
                </li>
            </ul>
        </form>
        <div class="list-header list-header-billdetail">
            <ul class="cb fl-li">
                <li class="li1">货物详情</li>
                <li class="li2">垫资金额（元）</li>
                <li class="li3">垫资天数</li>
                <li class="li4">结算金额（元）</li>
				<li class="li5">到货日期</li>
				<li class="li6">还款日期</li>
                <li class="li7">账单状态</li>
                <li class="li8">交易操作</li>
            </ul>
            <!-- <div class="fr fl-a btn-wrap">
                <a href="#" class="btn">上一页</a>
                <a href="#" class="btn next">下一页</a>
            </div> -->
        </div>
        <div class="list-table list-table-billdetail list-table-billdetai2">
			{volist name='$listdata' id='vo'}
            <table>
                <thead>
					<th width="20"></th>
                    <th width="287" class="tal">
                        <span class="date">
                            <!--<label for="oid{$key}" class="checker" data-type="checkbox"></label><input type="checkbox" id="oid{$key}">-->
                            {$vo.Createtime|getDateStrYmd}</span>
                        <span class="fr">订单号：{$vo.Vc_orderSn==null?$vo.Vc_Sn:$vo.Vc_orderSn}</span>
                    </th>
                    <th class="th2" width="190"><span>所属项目：{$vo.Vc_ct_name==null?$vo.projname:$vo.Vc_ct_name}</span></th>
					<th width="100"></th>
					<th></th>
					<th></th>
					<th width="90"></th>
					<th width="90"></th>
                </thead>
                <tbody>
					{volist name='$vo.billlist' id='vo2' key="k"}
                    <tr>
                        <td colspan="2">
                            <span>{$vo2.Vc_goods_class}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo2.Vc_goods_breed}</span>
                            <small>材质：{$vo2.Vc_goods_material}&nbsp;&nbsp;&nbsp;规格：{$vo2.Vc_goods_spec}&nbsp;&nbsp;&nbsp;</small>
							<small>产地：{$vo2.Vc_goods_factory}</small>
                        </td>
                        <td>
                            <span>{$vo2.N_loan_amount}<em class="fr">{$vo2.I_loan_days}天</em></span>
                            <small>垫资利息：{$vo2.N_loan_interest}元</small>
                        </td>
                        <td rowspan="1" class="tac auto">
                            {$vo2.N_settlement}
                        </td>
						<td rowspan="1" class="none">{$vo2.Dt_arrived|getDateStrYmd}</td>
						<td rowspan="1" class="none">{$vo2.Dt_repayment|getDateStrYmd}</td>
                        <td class="tac none" rowspan="1">
                            <span class="status">{$vo2.Vc_billstatus}</span>
                        </td>
                        <td class="tac none" rowspan="1">
							{if condition="isset($vo2.I_isconfirm)&&$vo2.I_isconfirm==1"}
				 				<span class="yes">已确认</span>
				 			{else}
				 		  		<a href="javascript:;" data-ajax="{:url('/bill/confirm',['id'=>$vo2.id])}" class="menu">确认</a>
				 			{/if}
							<a href="javascript:;" data-ajax="{:url('/order/appeal',['Vc_orderSn'=>$vo.Vc_orderSn,'Vc_goods_breed'=>$vo2.Vc_goods_breed,'Vc_goods_material'=>$vo2.Vc_goods_material,'Vc_goods_spec'=>$vo2.Vc_goods_spec,'Vc_goods_factory'=>$vo2.Vc_goods_factory,'I_type'=>2])}" class="error appeal-btn">异常申诉</a>
                        </td>
                    </tr>
					<tr class="space">
						<td colspan="6"></td>
					</tr>
					{/volist}
                </tbody>
            </table>
			{/volist}
			<div class="pager cb">
				{$list->render()}
			</div>
        </div>
		{/if}
    </div>
</div>
<!-- content -->
{include file="public/foot"}
 <!-- <div>{$list->render()}</div> -->
   <!-- xxx -->
 <script type="text/javascript" src="/static/admin/js/xxx/core.js"></script>
<script type="text/javascript">

	function showEndError(){
		layer.msg("该项目已完成不能继续下单",{time:1500});
	}
	function showError(){
		layer.msg("该项目已关闭，不可下单",{time:1500});
	}
	function showNotError(){
		layer.msg("审核未通过，不可下单",{time:1500});
	}
	function showZeroError(){
		layer.msg("可用余额不足，不可下单",{time:1500});
	}

	/**
	 * 列表页筛选跳转函数
	 * @return {[type]} [description]
	 */
	function onListPageSelectionChange () {
	    var $this = $(this) , val = $this.val() , name = $this.attr('name'),
	        clear=$this.data('clear') || '' , url = new xxx.Url() ,
	        clearArray = clear.split(',') , emptyVal = $this.data('empty') || -1 ;
	    if ('*' == clear) {
	        url.removeAllParams() ;
	    } else if (clearArray.length > 0) {
	        for (var i = clearArray.length - 1; i >= 0; i--) {
	            url.removeParam(clearArray[i]) ;
	        };
	    }
	    (val && val != emptyVal) ? url.setParam(name,val) : url.removeParam(name) ;
	    url.removeParam('page').go() ;
	}

    $(document).ready(function(){
        $('select[x-listen]').change(onListPageSelectionChange) ;

        $('#nameSearchButton').click(function(){
            var name = $('#nameSearch').val() ,
                url = new xxx.Url().removeParam('page') ;

            url.setParam('keyword',encodeURIComponent(name)).go() ;
        }) ;
    }) ;

	$(".list-table-billdetail a.menu").btnAjax({
		success:"确认成功"
	});

</script>
</body>
</html>
