<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{include file='public/head'}
	<title>云采网 - 项目订单</title>
</head>
<body>
<!-- header -->
{include file="public/top"}
<!-- header -->
<!-- content -->
<div class="crm nbg bd">
	<div class="w1200 cc">
		<em class="crm-inner"><!--占位用的勿删--></em><a href="/">首页</a><em>></em><a href="/workroom/index">我的工作台</a><em>></em><a href="/project/listPage">我的项目详情</a><em>></em><span>项目订单</span>
	</div>
</div>
<!-- content -->
<div class="content w1200 cc cb mt10">
	{include file="public/sideNav"}
	<div class="fr w1000 list-page">
		<div class="project-detail">
			<div class="project-detail-header">项目编号&nbsp;{$proj.Vc_Sn}</div>
			<div class="project-detail-wrap cb">
				<div class="project-detail-info fl">
					<h3>{$proj.Vc_ct_name==null?$proj.projname:$proj.Vc_ct_name}</h3>
					<p>合同编号：{$proj.Vc_contractSn==null?"--":$proj.Vc_contractSn}
						{if condition="empty($proj.Vc_contractfile)"}
						<a href="javascript:;" class="menu none">[查看合同]</a>
						{else}
						<a href="{$Think.config.img_url}{$proj.Vc_contractfile}" class="menu" target="_blank">[查看合同]</a>
						{/if}
					</p>
					<p>额度:{$proj.N_loan_maxprice==null?$proj.N_loan_amount.'万':$proj.N_loan_maxprice.'万'}&nbsp;&nbsp;&nbsp;&nbsp;垫资期限：{$proj.I_ct_loan_life==null?$proj.I_loan_life.'天':$proj.I_ct_loan_life.'天'}</p>
					<!-- 垫资费用 补上1018-->
					<!-- <p>垫资费用</p> -->
					<!-- 垫资费用 补上1018-->
					<p>项目地址：{if condition="empty($proj.Vc_address)"}{$proj.proname}{$proj.proname==$proj.cityname?'':$proj.cityname}{$proj.areaname}{$proj.projaddr}{else}{$proj.Vc_address}{/if}</p>
				</div>
				<div class="fr project-detail-progress">
					<h3>执行概况</h3>
					<p>未还款：{$proj.N_loan_maxprice-$proj.N_usable_loan}万<span>待确认：{$count.confirm}笔</span></p>
					<p>已逾期：<b>{$count.overdate}万</b></p>
					<div class="total cb">
						<div class="progress-inner pr fl">
							{if condition="($proj.N_loan_maxprice!=null)&&($proj.N_loan_maxprice!=0)"}
							<p style="width:{$proj.N_usable_loan/$proj.N_loan_maxprice*100}%"></p>
							{else}
							<p></p>
							{/if}
						</div>
						<div class="total-text">余额{$proj.N_usable_loan==null ?'0元':$proj.N_usable_loan.'万'}，总额{$proj.N_loan_maxprice==null?'0元':$proj.N_loan_maxprice.'万'}</div>
					</div>
					{if condition="$proj.I_status==4"}
						<a href="javascript:showError();" class="none">项目下单</a>
					{elseif condition="$proj.I_status==5"}
						<a href="javascript:showEndError();" class="none">项目下单</a>
					{elseif condition="$proj.I_status==1 || $proj.I_status==0"}
						<a href="javascript:showNotError();" class="none">项目下单</a>
					{else}
						{if condition="$proj.N_usable_loan=='0'||$proj.N_usable_loan==null"}
							<a href="javascript:showZeroError();" class="none">项目下单</a>
						{else}
							<a href="{:url('/order/create',['id'=>$proj.aid])}" class="btn">项目下单</a>
						{/if}
					{/if}
				</div>
			</div>
		</div>
		{if condition="$proj.Vc_contractSn==null"}
		<!-- 当，没有数据时显示我 -->
		<div class="ctl-empty">
			<p><em class="error">{if condition="$proj.I_status==1"}该项目未通过审核{else}平台正在处理合同相关事宜，请耐心等待{/if}</em></p>
		</div>
		<!-- 当，没有数据时显示我 -->
		{else}
		<div class="project-tab cb">
			<ul class="fl fl-a btn-wrap" id="myTab" role="tablist">
				<a class="btn active">项目订单（{$count.ordernum}）</a>
				<a href="{:url('billdetail',['projId'=>$proj.aid])}" class="btn">我的账单（{$count.billnum}）</a>
			</ul>
		</div>
		<form class="list-search mt10">
			<div class="list-search-words cb">
				<div class="input-wrap fl pr">
					<input type="text" id="nameSearch" placeholder="订单号/品名/材质/规格/产地" name="keyword" value="{if condition="isset($param.keyword)"}{$param.keyword}{/if}"/>
					<button type="submit" id="nameSearchButton"></button>
				</div>
				<a href="javascript:;" class="list-search-menu fl">{$isSearch==1?'收起筛选':'展开筛选'}</a>
			</div>
			<ul class="list-search-type cb fl-li {$isSearch==1?'':' hide'}" data-isDetail="true">
				<li>
					订单状态
					<select x-listen  class="form-control" name="orderStatus">
						<option value="-2">全部</option>
						{volist name="$model->statusArray" id="vo"}
						<option value="{$key}" {if condition="isset($param.orderStatus)"}{$key==$param.orderStatus?"selected":""}{/if}>{$vo}</option>
						{/volist}
					</select>
				</li>
				<li>
					所属行业
					<select  x-listen  class="form-control" name="industryId">
						<option value="">全部</option>
						{volist name="$malls" id="vo"}
						<option value="{$vo.id}" {if condition="isset($param.industryId)"}{$vo['id']==$param.industryId?"selected":""}{/if}>{$vo.Vc_name}</option>
						{/volist}
					</select>
				</li>
				<li>
					货物大类
					<select  x-listen  class="form-control" name="className">
						<option value="">全部</option>
						{volist name="$goodclass" id="vo"}
						<option value="{$vo.Vc_goods_class}"{if condition="isset($param.className)"}{$vo.Vc_goods_class==$param.className?"selected":""}{/if} >{$vo.Vc_goods_class}</option>
						{/volist}
					</select>
				</li>
				<li class="long">
					所属项目
					<select  x-listen  class="form-control" name="projId">
						{volist name="$projs" id="vo"}
						{if condition="$vo.I_projectID==$param.projId"}
						<option value="{$vo.I_projectID}" {if condition="isset($param.projId)"}{$vo.I_projectID==$param.projId?"selected":""}{/if} >{$vo.ct_projname==null?$vo.projname:$vo.ct_projname}</option>
						{/if}
						{/volist}
					</select>
				</li>
			</ul>
		</form>
		<div class="list-header list-header-order">
			<ul class="cb fl-li">
				<li class="li1">货物详情</li>
				<li class="li2">单价（元）</li>
				<li class="li3">数量</li>
				<li class="li4">实际总价（元）</li>
				<li class="li5">订单状态</li>
				<li class="li6">交易操作</li>
			</ul>
			<!-- <div class="fr fl-a btn-wrap">
				<a href="#" class="btn">上一页</a>
				<a href="#" class="btn next">下一页</a>
			</div> -->
		</div>
		<div class="list-table list-table-order" style="margin-top: 0;">
			{volist name='$listdata' id='vo'}
			<table>
				<thead>
				<th width="307">
					<span class="date">{$vo.Createtime|getDateStrYmd}</span>
					<span class="fr">订单号：{$vo.Vc_orderSn==null?$vo.Vc_Sn:$vo.Vc_orderSn}</span>
				</th>
				<th class="th2" width="223">所属项目：{$vo.Vc_ct_name==null?$vo.projname:$vo.Vc_ct_name}</th>
				<th width="204"></th>
				<th width="123" class="tac">
					<!-- 实际收货日期： -->
				</th>
				<th width="139">
					 {if condition="$vo.Vc_orderSn!=null"}
							  {if condition="$vo.I_status==6"}
							  订单已关闭
							  {elseif condition="$vo.I_status==5"}
							  订单已冻结
							  {/if}
					  {/if}
				</th>
				</thead>
				<tbody>
				{volist name='$vo.orderlist' id='vo2' key="k"}
				<tr{$k <= 5 ?"":" style='display:none;'"}>
				<td class="td1">
					<span>{$vo2.Vc_goods_class}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo2.Vc_goods_breed}</span>
					<small>材质：{$vo2.Vc_goods_material}&nbsp;&nbsp;&nbsp;&nbsp;规格：{$vo2.Vc_goods_spec}</small>
					<small>产地：{$vo2.Vc_goods_factory}</small>
				</td>
				<td>

					{if condition="$vo2.Vc_goods_uint=='吨'"}
					<span>{$vo2.N_ac_price==null||$vo2.N_ac_price==0?$vo2.N_judge_price:$vo2.N_ac_price}<em class="fr">{$vo2.N_ac_weight}{$vo2.N_ac_weight==null?'':$vo2.Vc_goods_uint}</em></span>
					<small>申请数量：{$vo2.N_plan_weight}&nbsp;{$vo2.Vc_goods_uint}</small>
					{else}
					<!-- {$unit=$vo2.N_ac_weight==null?$vo2.N_plan_weight:$vo2.N_ac_weight} -->
					<span>{$vo2.N_ac_price==null||$vo2.N_ac_price==0?$vo2.N_judge_price:$vo2.N_ac_price}<em class="fr">{$vo2.N_ac_weight}&nbsp;{$vo2.N_ac_weight==null?'':$vo2.Vc_goods_uint}</em></span>
					<small>申请数量：{$vo2.N_plan_weight|intval}&nbsp;{$vo2.Vc_goods_uint}</small>
					{/if}

					<small>预计总价：{$vo2.N_judge_totalprice}</small>
				</td>
				{if condition="$vo2.I_goods_src==2 || $k == 1"}
				<td{if condition="((($vo.I_status==0) || ($vo.I_status==1) || ($vo.I_status==6)||($vo.I_status==-1)) && ($k==1) && ($vo2.I_goods_src==1))"} rowspan="{$vo.orderlist|count}"{/if}>
				{if condition="$vo2.N_ac_settlement!=null && $vo2.N_ac_settlement!=0"}
				<p class="name">实际总价：{$vo2.N_ac_settlement}</p>
				<p class="spec">到货时间：{$vo2.Dt_arrived|strtotime|date="Y-m-d",###}</p>
				{else}<p class="tac">暂无</p>
				{/if}

				<!--<span>{$vo2.N_ac_settlement==null?'暂无':'实际总价：'.$vo2.N_ac_settlement}</span>-->
				<!--{if condition="$vo2.N_ac_settlement!=null"}<small>到货时间：{$vo2.Dt_arrived==null?'暂无':getDateStrYmd($vo2.Dt_arrived)}</small>{/if}-->
				</td>
				<td class="tac"{if condition="((($vo.I_status==0) || ($vo.I_status==1) || ($vo.I_status==6)||($vo.I_status==-1)) && ($k==1) && ($vo2.I_goods_src==1))"} rowspan="{$vo.orderlist|count}"{/if}>
				{if condition="$vo.I_status==0&&$k>1"}
				{else/}
				<span class="status">{$vo2.Vc_orderstatus==null?$model->statusArray[$vo.I_status]:$vo2.Vc_orderstatus}</span>
				<a href="{:url('/order/orderInfo',['id'=>$vo.id])}">订单详情</a>
				{/if}
				{if condition="$vo2.Vc_orderstatus=='已发货'||$vo2.Vc_orderstatus=='已到货'"}
				<a href="{:url('/order/expressInfo',['id'=>$vo2.id,'orderSn'=>$vo2.Vc_orderSn])}">查看物流</a>
				{/if}
				</td>
				<td class="tac"{if condition="((($vo.I_status==0) || ($vo.I_status==1) || ($vo.I_status==6)||($vo.I_status==-1)) && ($k==1) && ($vo2.I_goods_src==1))"} rowspan="{$vo.orderlist|count}"{/if}>
				{if condition="$vo.I_status==0&&$k==1"}
				<a href="{:url('/order/edit',['id'=>$vo.id])}" class="btn">修改订单</a>
				<a href="javascript:;" data-ajax="{:url('/order/cancel',['id'=>$vo.id])}" class="btn cancel">取消订单</a>
				{elseif condition="$vo2.Vc_orderstatus=='已到货'"}
				{if condition="isset($vo2.I_isconfirm)&&$vo2.I_isconfirm==1"}
				<span class="yes">已确认</span>
				{else}
				<a href="javascript:;" data-ajax="{:url('/order/confirm',['oid'=>$vo.id,'id'=>$vo2.id,'orderSn'=>$vo2.Vc_orderSn])}" class="menu">确认订单</a>
				{/if}
				<a href="javascript:;" data-ajax="{:url('/order/appeal',
									  ['Vc_orderSn'=>$vo2.Vc_orderSn,'Vc_goods_breed'=>$vo2.Vc_goods_breed,'Vc_goods_material'=>$vo2.Vc_goods_material,'Vc_goods_spec'=>$vo2.Vc_goods_spec,'Vc_goods_factory'=>$vo2.Vc_goods_factory])}" class="btn error appeal-btn">异常申诉</a><!-- ajaxPost方式提交T_appeal申诉内容 -->
				<a href="javascript:void(0);" data-url="{:url('/order/create',['id'=>$vo.I_projectID])}" data-ajax="{:url('/order/iscanbuy',['id'=>$vo.I_projectID])}" class="btn rebuy">再次购买</a>
				{/if}
				</td>
				{/if}
				</tr>
				{/volist}
				</tbody>
			</table>
			{if condition="count($vo.orderlist)>5"}
			<a href="javascript:;" class="table-more" data-total="{$vo.orderlist|count}" data-current="5">展开更多</a>
			{/if}
			{/volist}
			<div class="pager fl-a cb">
				<div class="fr">
					{$list->render()}
				</div>
			</div>
		</div>
		{/if}
	</div>
</div>
{include file="public/foot"}
<script type="text/javascript" src="/static/admin/js/xxx/core.js"></script>
<script type="text/javascript">
	function showEndError(){
		layer.msg("该项目已完成不能继续下单",{time:1500});
	}
	function showError(){
		layer.msg("该项目已关闭，不可下单",{time:1500});
	}
	function showNotError(){
		layer.msg("审核未通过，不可下单",{time:1500});
	}
	function showZeroError(){
		layer.msg("可用余额不足，不可下单",{time:1500});
	}

	/**
	 * 列表页筛选跳转函数
	 * @return {[type]} [description]
	 */
	function onListPageSelectionChange () {
		var $this = $(this) , val = $this.val() , name = $this.attr('name'),
				clear=$this.data('clear') || '' , url = new xxx.Url() ,
				clearArray = clear.split(',') , emptyVal = $this.data('empty') || -2 ;
		if ('*' == clear) {
			url.removeAllParams() ;
		} else if (clearArray.length > 0) {
			for (var i = clearArray.length - 1; i >= 0; i--) {
				url.removeParam(clearArray[i]) ;
			};
		}
		(val && val != emptyVal) ? url.setParam(name,val) : url.removeParam(name) ;
		url.removeParam('page').go() ;
	}

	$(document).ready(function(){
		$('select[x-listen]').change(onListPageSelectionChange) ;

		$('#nameSearchButton').click(function(){
			var name = $('#nameSearch').val() ,
					url = new xxx.Url().removeParam('page') ;

			url.setParam('keyword',encodeURIComponent(name)).go() ;
		}) ;
	}) ;

	$(".list-table-order a.menu").btnAjax({
		success:"确认成功"
	});
	$(".list-table-order a.cancel").btnAjax({
		success:"取消成功",
		btn:["确认","返回"],
		isConfirm:true
	});

</script>
</body>
</html>
