{include file='public/header,public/left,public/top,public/rightStart' /}


                <div class="x_content">
                
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      {include file="./sysconfig/_nav" /}
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
		                   
		               
		               
		               
		                <form id="" class="form-horizontal form-label-left adminuserform" novalidate>
		               
		               <div class="table-responsive">
		                      
		                        <table class="table table-striped jambo_table bulk_action">
		                        <thead>
									<tr class="headings">
										<th class="column-title">信息项</th>
										 <th class="column-title">是否显示</th>
						                  <th class="column-title">是否必填 </th>
									</tr>
		                        </thead>
		                        <tbody>
						                 <tr class="even pointer">
						                 
											 <td class=" ">手机号</td>
											 <td class=" ">
									                 <input type="checkbox" name="show[Vc_mobile]" class="flat" value="Vc_mobile" disabled="disabled" checked > 
				                					 <input type="hidden" name="show[Vc_mobile]" value="Vc_mobile">
											 </td>
						                     <td class=" ">
									                  <input type="checkbox" name="require[Vc_mobile]" class="flat" value="Vc_mobile" disabled="disabled" checked > 
				                						 <input type="hidden" name="require[Vc_mobile]" value="Vc_mobile">
						                     </td>
						                   </tr>
						                   
						                   <tr class="even pointer">
											 <td class=" ">姓名</td>
											 <td class=" ">
									                 <input type="checkbox" name="show[Vc_name]" class="flat" value="Vc_name" {if condition="(strpos_($params['Vc_showfields'],'Vc_name')>0)"}checked="checked"{/if}> 
											 </td>
						                     <td class=" ">
									                 <input type="checkbox" name="require[Vc_name]" class="flat" value="Vc_name" {if condition="(strpos_($params['Vc_requirefields'],'Vc_name')>0)"}checked="checked"{/if} > 
						                     </td>
										  </tr>
						                   <tr class="even pointer">
											 <td class=" ">邮箱</td>
											 <td class=" ">
									                 <input type="checkbox" name="show[Vc_email]" class="flat" value="Vc_email" {if condition="(strpos_($params['Vc_showfields'],'Vc_email')>0)"}checked="checked"{/if} > 
											 </td>
						                     <td class=" ">
									                 <input type="checkbox" name="require[Vc_email]" class="flat" value="Vc_email" {if condition="(strpos_($params['Vc_requirefields'],'Vc_email')>0)"}checked="checked"{/if} > 
						                     </td>
										  </tr>
						                   <tr class="even pointer">
											 <td class=" ">座机</td>
											 <td class=" ">
									                 <input type="checkbox" name="show[Vc_tel]" class="flat" value="Vc_tel" {if condition="(strpos_($params['Vc_showfields'],'Vc_tel')>0)"}checked="checked"{/if} > 
											 </td>
						                     <td class=" ">
									                 <input type="checkbox" name="require[Vc_tel]" class="flat" value="Vc_tel" {if condition="(strpos_($params['Vc_requirefields'],'Vc_tel')>0)"}checked="checked"{/if} > 
						                     </td>
										  </tr>
						                   <tr class="even pointer">
											 <td class=" ">QQ</td>
											 <td class=" ">
									                 <input type="checkbox" name="show[Vc_QQ]" class="flat" value="Vc_QQ" {if condition="(strpos_($params['Vc_showfields'],'Vc_QQ')>0)"}checked="checked"{/if}> 
											 </td>
						                     <td class=" ">
									                 <input type="checkbox" name="require[Vc_QQ]" class="flat" value="Vc_QQ" {if condition="(strpos_($params['Vc_requirefields'],'Vc_QQ')>0)"}checked="checked"{/if}  > 
						                     </td>
										  </tr>
											 
											 
		                        </tbody>
		                        </table>
		                    </div>
		                    
		              
		               <div class="ln_solid"></div>
		               
		                <div class="form-group">
					       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
					       	 <input type="hidden" name="table" value="user">
					         <button type="submit" class="btn btn-success">确认</button>
					         <button type="reset" class="btn btn-danger">取消</button>
					       </div>
					     </div>
		               
		               
		               
		               </form>
		                    
                        </div>
                        
                      </div>
                    </div>
               		
                    
                    
                </div>
           

{include file='public/rightEnd,public/footer' /}
<script type="text/javascript">

$(function(){
	
	
	
    	//$("input[type='checkbox']").on('change',checkNode);
   	 
		/*  $("#tab_content1 .form-group").eq(1).on("click","label", checkNode);

		function checkNode(){
			var index = $(this).parents(".temple-checkbox").index();
			var $parent = $(this).parents(".form-group").siblings().find("div.temple-checkbox");
			
			$parent.eq(index).find(".icheckbox_flat-green").addClass("checked");
			$parent.eq(index).find("input[type='checkbox']").prop("checked",true);
		}  */
		
	var isSubmited = false;
	$("form").submit(function(e){
        e.preventDefault();
        
       /*  if(!validator.checkAll($(this)) || isSubmited) {
    		return false;
    	} */
    	 if(isSubmited) {
             layer.msg("提交中...") ;
             return false;
     	}
      
       	isSubmited = true ;
        $.post("{:url('/admin/sysconfig/subuserajax')}",$('form').serialize()).then(onSubmited) ;
    });
	function onSubmited(d) {
        layer.msg(d.msg) ;
        if (d.code==200) {
        	//window.location.href = "/adminuser/showlist";
            new xxx.Url("{:url('/admin/sysconfig/index',['type'=>'userReg'])}").delayGo(2) ;
        }
        isSubmited = false ;
    }
	
	
}); 


</script>