<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{include file='public/head'}
        <!-- <link rel="stylesheet" href="/static/js/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css"> -->
		<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">
		<title>找货（表单页）</title>
	</head>
	<body>
	{include file="public/top-copy"}
		<!-- content -->
		<div class="content project-content">
			<div class="w1200 cc inner">
				<ul class="process-line process-line-three w1100 cc tac ib-li">
					<li class="active">
						<div class="bg">
							<span>1</span>
						</div>
						<p>填写订单</p>
					</li>
					<li>
						<div class="bg">
							<span>2</span>
						</div>
						<p>平台报价</p>
					</li>
					<li>
						<div class="bg">
							<span>3</span>
						</div>
						<p>采购</p>
					</li>
				</ul>
				<!--form-->
				<div class="order-form find-form cc form">
					{if condition="(isset($_SESSION['user']))"}
					<form class="cc ajaxForm" action="/find_goods/submitAdd" method="post">
					{else}
					<form class="cc ajaxForm" action="/index/findGoodsIndex" method="post">
					{/if}
						<div class="category">
							<div class="category-title">订单信息</div>
							<div class="form-items">
                                {if condition='(isset($order))'}
								<input type="hidden" name="id" value="{$order.id}">
								<input type="hidden" name="Vc_orderSn" value="{$order.Vc_orderSn}">

								{/if}
								<span class="form-items-title"><em class="warring">*</em>收货地址</span>
								<div class="item-wrap">
                                    <input name="proname[]" type="hidden" value="{if condition='(isset($addr))'}{$addr.proname1}{/if}">
									<select name="I_provinceID" id="provinceID" data-name="proname" class="address normal change_add_name" data-id="{if condition='(isset($order))'}{$order.I_provinceID}{/if}" tabindex="1"><option value="">请选择</option></select>
								</div>
								<div class="item-wrap">
                                    <input name="cityname[]" type="hidden" value="{if condition='(isset($addr))'}{$addr.cityname1}{/if}">
									<select name="I_cityID" id="cityID" data-name="cityname" class="address normal change_add_name" data-id="{if condition='(isset($order))'}{$order.I_cityID}{/if}" tabindex="2"><option value="">请选择</option></select>
								</div>
								<div class="item-wrap">
                                    <input name="areaname[]" type="hidden" value="{if condition='(isset($addr))'}{$addr.areaname1}{/if}">
									<select name="I_districtID" id="districtID" data-name="areaname" class="address normal change_add_name" data-id="{if condition='(isset($order))'}{$order.I_districtID}{/if}" tabindex="3"><option value="">请选择</option></select>
								</div>
								<div class="item-wrap">
									<input type="text" name="Vc_address" value="{if condition='(isset($order))'}{$order.Vc_address}{/if}" maxlength="30" class="address-detail" placeholder="请输入详细地址,50字以内" tabindex="4"/>
									<span></span>
								</div>
							</div>
							<div class="form-items">
								<span class="form-items-title"><em class="warring">*</em>支付方式</span>
								<select name="I_paytype" class="normal" tabindex="5">
                                    <option>请选择</option>
                                    {volist name="$findGoodsModel->payArray" id="vo"}
                                        <option value="{$key}" {if condition="(isset($order) && $key==$order.I_paytype)"}selected{/if}>{$vo}</option>
                                    {/volist}
								</select>
							</div>
							<div class="form-items">
								<span class="form-items-title"><em class="warring">*</em>报价截止时间</span>
								<input type="text" name="D_end" value="{if condition='(isset($order))'}{$order.D_end|strtotime|date='Y-m-d H:i',###}{/if}" datepicker data-time class="normal" tabindex="6"/>
								<span></span>
							</div>
							<div class="form-items">
								<span class="form-items-title title-small"><em class="warring">*</em>收货人</span>
								<input type="text" name="Vc_consignee" placeholder="姓名" value="{if condition='(isset($order))'}{$order.Vc_consignee}{/if}" class="normal name" maxlength="15" placeholder="请输入联系人姓名" tabindex="7"/>
								<input type="text" name="Vc_phone" placeholder="联系电话" value="{if condition='(isset($order))'}{$order.Vc_phone}{/if}" class="normal-middle" placeholder="请输入联系人电话号码" tel maxlength="11" tabindex="8"/>
                                <span></span>
							</div>
						</div>
						<div class="category pt9">
							<div class="category-title">采购清单</div>
							<div class="form-items">
								<span class="form-items-title title-small"><em class="warring">*</em>行业</span>
								<select name="I_industryID" class="normal" tabindex="9">
                                    {volist name="$industryModel->getArr" id="vo"}
									<option value="{$key}" {if condition="(isset($order) && $key==$order.I_industryID)"}selected{/if}>{$vo}</option>
                                    {/volist}
								</select>
							</div>
                            {if condition="(isset($goods))"}
                            {volist name='$goods' id='vo'}
                            <div class="form-items">
                                <span class="form-items-title title-small"><em class="warring">*</em>货物</span>
                                <input type="hidden" class="goodsSel" name="Vc_goods_code[]" value="{$vo.Vc_goods_code}">
                                <input type="text" readonly name="Vc_goods_name[]" class="normal-big citySel" value="{$vo.Vc_goods_breed.','.$vo.Vc_goods_material.','.$vo.Vc_goods_spec}" tabindex="10"/>
                                <div class="item-wrap-select">
                                    <input type="text" name="N_plan_weight[]" placeholder="输入数量" class="goodsNum number_form" value="{$vo.Vc_unit=='件'?intval($vo.N_plan_weight):$vo.N_plan_weight}"{if condition='($vo.Vc_unit=="吨")'} float{else} number{/if} tabindex="11"/>
                                    <select name="Vc_unit[]" class="unit_select" tabindex="12">
                                        <option value="吨" {if condition='($vo.Vc_unit=="吨")'}selected{/if}>吨</option>
                                        <option value="件" {if condition='($vo.Vc_unit=="件")'}selected{/if}>件</option>
                                    </select>
                                </div>
                                <a href="javascript:;" class="menu add"></a>
                                <a href="javascript:;" class="menu delete"></a>
                            </div>
                            {/volist}
                            {else}
                            <div class="form-items">
                                <span class="form-items-title title-small"><em class="warring">*</em>货物</span>
                                <input type="hidden" class="goodsSel" name="Vc_goods_code[]" value="">
                                <input type="text" readonly name="Vc_goods_name[]" class="normal-big citySel" value="" tabindex="10"/>
                                <div class="item-wrap-select">
                                    <input type="text" name="N_plan_weight[]" placeholder="输入数量" class="goodsNum number_form" value="" float tabindex="11"/>
                                    <select name="Vc_unit[]"  class="unit_select" tabindex="12">
                                        <option value="吨">吨</option>
                                        <option value="件">件</option>
                                    </select>
                                </div>
                                <a href="javascript:;" class="menu add"></a>
                                <a href="javascript:;" class="menu delete"></a>
                            </div>
                            {/if}
							<div class="form-items">
								<!-- <div class="category-title"></div> -->
								<span class="form-items-title title-small title">备注</span>
								<textarea maxlength="200" name="T_note" rows="" cols=""  class="comment" placeholder="如果有什么需求请告诉我们，200字以内" tabindex="13">{if condition='(isset($order))'}{$order.T_note}{else}{/if}</textarea>
								<span></span>
							</div>
						</div>
						<div class="category pt9">
                            <div class="category-title"></div>
                            <input type="hidden" name="N_judge_totalprice" id="totalPrice" value=""/>
                            <input type="hidden" name="GoodsJudgePrice" value="{$GoodsJudgePrice}" id="price"/>
                            <input type="hidden" name="T_judge_info"/>
                            <div class="total">
                                <p class="total-info">预估总价：<em><span id="totalPriceView">0</span>元</em></p>
                                <p class="total-text">含：<span id="goods-list"></span></p>
                                <p class="total-text">本价格仅供下单参考，实际费用以最终协商为准</p>
                            </div>
						</div>
					</form>
				</div>
				<!--/form-->
			</div>
            <div id="menuContent" class="menuContent">
                <ul id="ztree" class="ztree"></ul>
            </div>
			<div class="form-submit tac">
				<a href="javascript:;" class="form-submit-menu" id="submit">提交订单</a>
			</div>
		</div>
		<!-- content -->
        {include file="public/foot-bg"}
        <script type="text/javascript" src="/static/js/ztree/js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="/static/js/ztree/js/jquery.ztree.excheck.js"></script>
		<!-- <script src="//cdn.bootcss.com/zTree.v3/3.5.24/js/jquery.ztree.all.min.js"></script> -->
        <script>
            $().autoSelectData({
                '#provinceID':{
                    url:'/comm/getprovince',
                    level:0
                },
                '#cityID':{
                    url:'/comm/getCity?pid=',
                    level:1
                },
                '#districtID':{
                    url:'/comm/getDistrict?pid=',
                    level:2
                }
            })
            $(".ajaxForm").ajaxForm({
                button:"#submit",
				noTips:true,
                success: function (res) {
                    layer.closeAll();
                    // console.log(res);
                    location.href=res.url;
                },
		        beforeSubmit: function(){
		            window.notReload = true;
		            showLogin();
		        }
            });

            ;(function($){
                var $totalView = $("#totalPriceView"),
                    price = $("#price").val(),
                    $totalPrice = $("#totalPrice");

				window.total = function(){
	                var goodsNum = 0,
	                    goodsList = "",
	                    $goodList = $("#goods-list"),
	                    $goodsNum = $("input.goodsNum"),
	                    $goodsSel = $("input.goodsSel"),
	                    len = $goodsNum.length;
	    
	                if($goodsNum.length){
	                    $goodsNum.each(function(index, el) {
	                        if(!!$(this).val() && !!$goodsSel.eq(index).val()) {
	                            (function(index,$this){
	                                var num = Number($this.val());
	                                goodsNum = accAdd(num, goodsNum);
	                                goodsList += (index>0 && index < len ?"&nbsp;&nbsp;+&nbsp;&nbsp;":"")+"货物（"+($this.closest(".form-items").find(".citySel").val())+"）"+accMul(num, price)+"元";
	                            })(index,$(this));
	                        }
	                    });
	                    $totalPrice.attr("value",accMul(goodsNum, price).toFixed(2));
	                    $goodList.html(goodsList);
	                    $totalView.text(accMul(goodsNum, price).toFixed(2));
	                    
	                }
	            }

                total();
                $(document).on("change keyup","input.goodsNum" , function(){
                    total();
                });

            })(jQuery);

            $(document).on("click","a.add", function(){
				if ($('.form-items').filter(function(){
		            return $(this).find(".add").length
		        }).length < 10 ) {
					var html = [
						'<div class="form-items">',
	                        '<span class="form-items-title title-small"><em class="warring">*</em>货物</span>',
	                        '<input type="hidden" class="goodsSel" name="Vc_goods_code[]" value="">',
	                        '<input type="text" readonly="" name="Vc_goods_name[]" class="normal-big citySel" value="">',
	                        '<div class="item-wrap-select">',


	                            '<input type="text" name="N_plan_weight[]" placeholder="输入数量" class="goodsNum number_form" value="" float>',
	                            '<select name="Vc_unit[]" class="unit_select">',
	                                '<option value="吨">吨</option>',
	                                '<option value="件">件</option>',
	                            '</select>',
	                        '</div>',
	                        '<a href="javascript:;" class="menu add"></a>',
	                        '<a href="javascript:;" class="menu delete"></a>',
	                    '</div>'
					].join("");
	                $(this).closest('.form-items').after(html);
	                total();
				} else {
					layer.msg("最多添加10件货物",{time:1500});
				}
            });
			//
		    $(document).on("click","a.delete", function(){
		        if ($(".form-items").filter(function(){
		            return $(this).find("a.delete").length
		        }).length > 1 ) {
					$(this).closest('.form-items').fadeOut("fast", function(){
			            $(this).remove();
						total();
			        });
				} else {
					layer.msg("最少一件货物",{time:1500});
				}
		    });
			// 货物获取
		    goodsInit('{:url('/index/getGoodsTree')}');
        </script>
	</body>
</html>
